/* mobile */
@media screen and (max-width: 750px) {
    .home{
        margin-top: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .welcomePokedex{
        background-color: black;
        color: white;
        text-align: center;
        width: 40vh;
        height: 11vh;
        font-size: 1rem;
        font-weight: bold;
    }
    .welcomeText{
        margin-top: 4vh;
    }
    .logoPokemon{
        position: relative;
        top: 4vh;
        width: 20vh;
    }

}

/* tablet */
@media screen and (min-width: 750px) {      
    .home{
        margin-top: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .welcomePokedex{
        background-color: black;
        color: white;
        text-align: center;
        width: 42vh;
        height: 10vh;
        font-size: 1.7rem;
        font-weight: bold;
    }
    .logoPokemon{
        position: relative;
        top: 2.5vh;
        width: 20vh;
    }

}

 /* DESKTOP */
 @media screen and (min-width: 850px) {
    .home{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .welcomePokedex{
        background-color: black;
        color: white;
        text-align: center;
        width: 70vh;
        height: 18%;
        font-size: 1.7rem;
        font-weight: bold;
    }
    .logoPokemon{
        position: relative;
        top: 4vh;
        width: 30vh;
    }
}